$height : 40px;
.auto {
  &__error-message {
    color: $warning;
    font-size: 12px;
    font-weight: 400;
  }
}
.autocomplete {
  position: relative;
  display: grid;
  gap: 8px;
  &__popover {
    top: 68px;
    position: absolute;
    min-height: $height;
    max-height: 250px;
    z-index: 1;
    transition: all 0.4s;
    left: 0;
    right: 0;
    max-width: 100%;
    background-color: white;
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    overflow-y: scroll;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  }
  &__label {
    color: $black;
    font-size: 12px;
    font-weight: 500;
  }
  .options {
    width: 100%;
    border-radius: 4px;
    border: none;
  }
  .input-wrapper {
    border: 1px solid $silver;
    width: 100%;
    border-radius: 4px;
  }
}

.isTop {
  bottom: 50px;
}

.isBottom {
  top : 60px;
}

.autocomplete-results {
  padding: 0;
  margin: 0;
  overflow: auto;
  max-height: 10em;
}

.autocomplete-result {
  list-style: none;
  text-align: left;
  padding: 5px 10px;
  color: black;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  &:hover {
    background-color: #4AAE9B;
    color: white;
  }
}

input::placeholder {
  color: #BBBBBB;
}

.autocomplete-input {
  border: none;
  padding: 5px 10px;
  height: 32px;
  font-size: 12px;
  font-weight: 400;
  &:focus {
    outline: none;
  }
}
.autocomplete-result.is-active,
.autocomplete-result:hover {
  background-color: var(--primary-color);
  color: white;
}
