$sm-height : 28px;
$md-height : 32px;
$lg-height : 40px;

input, textarea {
  outline: none;
  border: none;
  width: 100%;
  display: block;
  background-color: inherit;
  color: inherit;
}

.input {
  &__gap {
    gap: 4px;
  }
  &__counter {
    text-align: right;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.11px;
    color: #BBB;
    margin-top: 3px;
  }
  &__container {
    display: grid;
    // margin-bottom: calc(1em * 1.5);
    position: relative;
    color: var(--charcoal-color);
  }

  &__icon {
    font-size: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__box {
    position: relative;
    display: flex;
    color: var(--charcoal-color);
  }

  &__label {
    font-size: $text-lg;
    font-weight: $font-medium;
    letter-spacing: 0.01;
    &.has-error {
      color: var(--danger-color);
      transition: color ease-in 1s;
    }
  }

  &__base {
    border-radius: 4px;
    width: 100%;
  }

  &__outline {
    background-color: var(--white-color);
    border: 1px solid var(--gainsboro-color);
    outline: none;
    &.has-error {
      border: 1px solid var(--danger-color);
      color: var(--danger-color);
    }
  }
  &__filled {
    background-color: var(--whitesnow-color);
  }

  &__message {
    position: absolute;
    bottom: calc(-1.5 * 1em);
    left: 0;
    margin: 0;
    @extend .input__label;
    color: var(--danger-color);
  }
  &__small {
    height : $sm-height
  }

  &__large {
    height: $lg-height;
    font-size: $text-lg;
    font-weight: $font-medium;
    padding: 0 16px;
  }

  &__medium {
    height: $md-height;
    font-size: $text-lg;
    font-weight: $font-normal;
    padding: 9px
  }
  &__filled-lg {
    @extend .input__base;
    @extend .input__filled;
    @extend .input__large;
  }
  &__filled-md {
    @extend .input__base;
    @extend .input__filled;
    @extend .input__medium;
  }

  &__outline-lg {
    @extend .input__base;
    @extend .input__outline;
    @extend .input__large;
  }

  &__outline-md {
    @extend .input__base;
    @extend .input__outline;
    @extend .input__medium;
  }
}

.slide-fade-enter-active {
  transition: all 0.4s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-leave-active {
  transition: all 0.4s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-leave-to {
  transform: translateX(-20px);
  opacity: 0;
}

.slide-fade-enter-from {
  opacity: 1;
  transform: translateX(-20px);
}