input:focus {
  outline: none;
}
input {
  width: 100%;
}

.pointer {
  cursor: pointer;
}

.field {
  &__label {
    font-size: 12px;
    font-weight: 400;
    color: $black;
  }
  &__error {
    border: 1px solid $warning !important ;
  } 
  &__error-message {
    color: $warning;
    font-size: 12px;
    font-weight: 400;
  }
  &__input {
    display: flex;
    outline: none;
    font-size: 12px;
    font-weight: 400;
    background: $truewhite;
    border: 1px solid $silver;
    border-radius: 4px;
    padding: 9px;
    height: 32px;
    gap: 5px;
    color: $black;
  }
  &__container {
    display: grid;
    gap: 8px;
  }
}

.map {
  &__card {
    padding: 16px;
    display: grid;
    gap: 24px;
  }
  &__title {
    text-align: center;
    font-size: 16px;
    color: $charcoal;
    font-weight: 700;
  }
  &__box {
    height: 380px;
    margin-top: 16px;
  }
  &__action {
    display: flex;
    justify-content: flex-end;
  }
}