$primary: #FF4265;
$secondary : #1890FF;
$tertiary: #495057;
$accent: #82B1FF;
$error: #FF5252;
$info: #00d3ee;
$success: #5cb860;
$warning: #e70000;
$black: #000000;
$charcoal: #4A4A4A;
$truewhite: #FFFFFF;
$whitesnow: #FAFAFA;
$greys: #777777;
$silver : #BBBBBB;
$orangered : #F63700;
$dodgerblue : #1890FF;
$safetyorange: #FB6900;
$logout : #FFD6CA;
$carmine : #A8071A;
$whitesmoke : #EEEEEE;
$gainsboro : #DDDDDD;
$irisblue: #00B9BD;
$kellygreen : #52C41A;
$primarylowtint : #FFEBEF;
$econdarylowtint : #E7F3FF;