@import 'color';
@import 'component';
//font size
$font-size-root: 12px;
$input-font-size: 12px;
$font-size-8: 8px;
$font-size-10: 10px;
$font-size-12: 12px;
$font-size-18: 18px;
$font-size-24: 24px;

// border radius
$border-radius-root: 4px;
$dialog-border-radius: 12px !important;

:root {
  --primary-color : #{$primary};
  --gainsboro-color : #{$gainsboro};
  --secondary-color : #{$secondary};
  --charcoal-color : #{$charcoal};
  --error-color : #{$error};
  --warning-color : #{$warning};
  --white-color : #{$truewhite};
  --black-color : #{$black};
}