//font size
$font-size-root: 14px;
$font-size-8: 8px;
$font-size-10: 10px;
$font-size-12: 12px;
$font-size-18: 18px;
$font-size-24: 24px;

// border radius
$border-radius-root: 4px;
$dialog-border-radius: 16px !important;
