.label {
  color: #777;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 0.11px; 
}
.warning-box {
  width: 10px;
  height: 10px;
  background-color: #E70000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-icon {
  width: 24px;
  height: 24px;
  background-color: #EEEEEE;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  cursor: pointer;
}
.label-user {
  font-size:11px;
  font-weight: 500;
  color: #4A4A4A;
  margin: 4px 0;
}
.user {
  font-size: 12px;
  color: $black;
  font-weight: bold;
}
.link {
  color: #1890ff;
  text-decoration: underline;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
}
.left {
  padding: 12px;
}

$totalheight : 520px;
$heightnav : 55px;
.container-box {
  height: $totalheight;
  aspect-ratio: 9 / 19.5;
  background-color: whitesmoke;
}
.container-media {
  background-color: #000000;
  width: inherit;
  height: calc($totalheight - $heightnav);
}
.container-nav {
  width: 100%;
  height: $heightnav;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

video::-webkit-media-controls-panel {
  background-image: none !important;
  background-color: transparent !important;
 }

.icon-play {
  position: absolute;
  top: 50%;
  left: 45%;
  cursor: pointer;
  z-index: 500;
  display: block;
}
.vid {
  width: 100% !important;
  height: 100% !important;
  display: block;
  @media screen and (min-width : 800px) {
    object-fit: contain !important;
  }
}
.right {
  padding: 12px 12px 24px 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.icon {
  text-align: right;
  position: absolute;
  right: 13px;
  top: 11px;
}
.desc {
  font-size: 12px;
  color: #000000;
  padding-right: 46px;
}
.desc-container {
  padding-right : 46px
}
.schedule {
  background: #ffffff;
  border: 0.6px solid #bbbbbb;
  border-radius: 4px;
  box-sizing: border-box;
  width: 138px;
  height: 24px;
  padding: 6px;
  font-size: 10px;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
}
.icon-input {
  position: absolute;
  right: 15px;
  bottom: 3px;
}
.hint-save {
  color: $warning;
  font-size: 10px;
  line-height: 15px;
  padding-left: 5px;
}
.field-details {
  color: var(--Grey, #777);
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.1px; 
  margin-top: 4px;
}

.car {
  &__ispublish {
    color: $black;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.14px; 
  }
  &__footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-top: 10px;
    padding:10px;
    border-top: 1px solid var(--White-Smoke, #EEE);
    background: var(--White-Snow, #F9F9F9);
  }
}

.dg {
  &__btn-left {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 10em;
    width: max-content;
  }
  &__link {
    color: var(--Secondary, #1890FF);
    font-size: 11px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.11px; 
  }
  &__label {
    color: #000;
    font-size: 10px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.1px; 
  }
  &__content-channel {
    color: #000;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.14px; 
  }
  &__btn-right {
    position: absolute;
    z-index: 1;
    top: 50%;
    text-align: right;
    width: max-content;
    right: 10em;
  }
  &__text-area {
    padding: 10px;
    border: 1px solid #BBBBBB;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 400;
    color: #000000;
    width: 100%;
    height: 240px;
  }
  &__btn-edit {
    border-radius: 2px;
    background: var(--Secondary, #1890FF);
    box-shadow: 0px 2px 4px 0px rgba(102, 127, 255, 0.24);
    width: 100%;
    color: #FFF;
    font-size: 11px;
    font-style: normal;
    font-weight: 500; 
    height: 32px;
    margin-top: 4px;
  }
}

textarea:focus {
  outline: none;
}
input {
  color: black;
}