.fonts {
  font-size: 12px;
  font-weight: 500;
}

.tb {
  &__link {
    color: $secondary;
    font-size: 12px;
    font-weight: 500;
    text-decoration-line: underline;
    cursor: pointer;
  }
  &__image {
    max-width: 100%;
    border-radius: 8px;
    max-height: 100%;
    transition: all 3000ms ease-in-out;
  }
  &__caption {
    white-space: nowrap!important;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
    max-width: 150px;
    font-size: 12px;
    font-weight: 500;
    color: $greys;
  }
  &__td {
    position: relative;
  }
  &__hover-image {
    position: absolute;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.1);
    z-index: 999;
    width: 141px;
    height: 172px;
    border-radius: 16px;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.dg {
  &__img-container {
    height: 456px;
    display: flex;
    align-items: center;
  }
  &__left{
    padding: 28px 24px 24px 28px;
  }
  &__right {
    padding: 12px 12px 12px 0;
  }
  &__icon {
    text-align: right;
  }
  &__desc {
    font-size: 12px;
    color:$black;
  }
  &__user {
    font-size: 12px;
    color:  $black;
    font-weight: bold;
  }
}