$primary : 	hsl(349, 100%, 63%);
$secondary : hsl(209, 100%, 55%);
$kellygreen : hsl(100, 77%, 44%);
$black : hsl(0, 0%, 0%);
$grey : hsl(0, 0%, 47%);
$whitesnow : hsl(0, 0%, 98%);
$white : hsl(0, 0%, 100%);
$charcoal : hsl(0, 0%, 29%);
$whitesmoke : hsl(0, 0%, 93%);
$grey90 : hsl(0, 0%, 90%);
$gainsboro : hsl(0, 0%, 87%);
$darkPrimary : hsl(349, 100%, 10%);
$danger : hsl(7, 79%, 45%);
$silver : hsl(0, 0%, 73%);

$primarylowtint : hsl(349, 100%, 96%);
$secondarylowtint : hsl(210, 100%, 95%);
