.text {
  &-left {
    text-align: left;
  }
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
}

.hidden {
  visibility: hidden;
}

.none {
  display: none;
}

.pointer {
  cursor: pointer;
}

.flex {
  display: flex;
  &-wrap {
    flex-wrap: wrap;
  }
  &-nowrap {
    flex-wrap: nowrap;
  }
}

.gap {
  &-4 {
    gap: 4px;
  }
  &-8 {
    gap: 8px;
  }
  &-10 {
    gap: 10px;
  }
  &-12 {
    gap: 12px;
  }
  &-14 {
    gap: 14px;
  }
  &-16 {
    gap: 16px;
  }
  &-56 {
    gap: 56px;
  }
  &-lg {
    gap: 24px;
  }
}

.justify {
  &-start{
    justify-content: start;
  }
  &-center{
    justify-content: center;
  }
  &-end{
    justify-content: end;
  }
  &-between {
    justify-content: space-between;
  }
  &-around {
    justify-content: space-around;
  }
}

.align {
  &-start{
    align-items: start;
  }
  &-center{
    align-items: center;
  }
  &-end{
    align-items: end;
  }
}

.grid {
  display: grid;
}

.text {
  &-capitalize {
    text-transform: capitalize;
  }
  &-color {
    &-primary {
      color: var(--primary-color) !important;
    }
    &-grey {
      color: var(--grey-color);
    }
  }
}



