@import "variables";
@import "colors";
@import "typography";
@import "global";
@import "spacing";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
  --primary-color : #{$primary};
  --primary-low-color : #{$primarylowtint};
  --secondary-color : #{$secondary};
  --secondary-low-color : #{$secondarylowtint};
  --bg-color : #{$white};
  --dark-bg-color : #{$darkPrimary};
  --kellygreen-color : #{$kellygreen};
  --black-color : #{$black};
  --grey-color : #{$grey};
  --whitesnow-color : #{$whitesnow};
  --white-color : #{$white};
  --charcoal-color : #{$charcoal};
  --whitesmoke-color : #{$whitesmoke};
  --grey90-color : #{$grey90};
  --gainsboro-color : #{$gainsboro};
  --danger-color : #{$danger};
  --silver-color : #{$silver};

  --width-aside : 11.25rem;
  --text-color : var(--primary-color);
}





