.action {
  &__container {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
  }
}

.total {
  &__container {
    border: 2px solid #1890FF;
    border-radius: 8px;
    padding: 16px;
    display: inline-block;
  }
  &__container-kelly {
    border: 2px solid #52C41A;
    border-radius: 8px;
    padding: 16px;
    display: inline-block;
  }
  &__label {
    color: #777777;
    font-size: 8px;
    font-weight: 500;
    letter-spacing: 0.01em;
  }
  &__count {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.01em;
    color: #1890FF;
  }
  &__count-kelly{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.01em;
    color: #52C41A;
  }
}

.legends {
  &__complete {
    border: 2px solid #52C41A;
    border-radius: 20px;
    width: 16px;
  }
  &__container {
    display: flex;
    align-items: center;
  }
  &__label {
    color: #4A4A4A;
    font-size: 12px;
    font-weight: 500;
    margin-left: 20px;
  }
  &__cancel {
    border: 2px solid #E70000;
    border-radius: 20px;
    width: 16px;
  }
}