.code {
  &__input {
    border-radius: 18px;
    border: 1px solid var(--White-Smoke, #EEE);
    background: #FFF;
    padding: 8px 14px;
    line-height: 0;
    & input {
      font-size: 10px;
      font-weight: 500;
      color: #777;
      width: 70px;
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }
  }
}
.code {
  &__no-data {
    color: $warning;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 8px;
    background-color: $whitesnow;
    margin-top: 8px;
  }
  &__detail {
    &-label {
      background-color: #EEE;
      border-radius: 4px;
      font-size: 12px;
      padding: 4px 12px;
      font-weight: 500;
      color: #777;
      display: inline;
    }
    &-sub {
      color: black;
      font-size: 14px;
      font-weight: 700;
    }
  }
  &__table {
    &-label {
      color: #777;
      font-size: 12px;
      font-weight: 500;
    }
  }
  &__mention {
    padding: 12px;
    background-color: #F9F9F9;
    font-size: 12px;
    font-weight: 400;
    color: #777;
    margin-top: 8px;
  }
  &__header {
    display: flex;
    align-items: center;
    gap: 12px;
    &-label {
      font-size: 11px;
      color: #777;
      font-weight: 400;
    }
  }
  &__dialog {
    padding: 13px 16px;
    &-label {
      color: $charcoal;
      font-size: 14px;
      font-weight: 800;
    }
    &-input-label {
      color: $charcoal;
      font-size: 11px;
      font-weight: 500;
    }
  }
}
#input-search {
  width: 200px;
}

.my-table thead th {
  background-color: #fafafa;
  // &:first-child { border-radius: 10px 0 0 0; }
  // &:last-child { border-radius: 0 10px 0 0; }
}