.expand {
  &__selected {
    color: #4A4A4A;
    font-size: 11px;
  }
  &__field {
    font-size: 11px;
    font-weight: 400;
  }
  &__card {
    padding: 8px 16px;
    background-color: #eeeeee;
    width: 100%;
    border-radius: 0;
  }
  &__filters {
    display: flex;
    // grid-template-columns:55px 170px 50px 120px 120px 190px 310px;
    gap: 8px;
  }
  &__label {
    color: #9b9b9b;
    font-size: 12px;
    line-height: 14px;
    align-self: center;
  }
}

.dt {
  &__card {
    padding: 16px;
    background-color: $whitesnow;
  }
  &__box-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__text-button {
    font-size: 9px;
    font-weight: 500;
  }
}
.warning-sign {
  font-size: 12px;
  font-weight: 500;
  color: #777777;
}